@import '../../../assets/theme.scss';

h2 {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    font-weight: 200;
    color: $text-subtitle-color;
    text-transform: lowercase;

    &::first-letter {
        text-transform: capitalize;
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.rigth {
    text-align: right;
}

.text-dark {
    color: $text-dark-color;
}

.text-white {

    color: $text-white-color;
}