@import '../../../assets//theme.scss';

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: $primary-color;
    height: 70px;
    width: 100%;
}

.section-user {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}

.info-user {
    position: absolute;
    right: 10px;
    top: 75px;
    width: 100px;
    height: 150px;
    border-radius: 6px;
    background-color: rgb(169, 169, 169);
}