@import '../../../assets//theme.scss';

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: $primary-color;
    height: 70px;
    width: 100%;
}

.section-user {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}