$background-white: #ffffff;
$background-dark: #364555;
$background-soft: #dddddd;
$transparent: rgba(255, 255, 255, 0);
$transparent-hover: rgba(255, 255, 255, 0.363);
$primary-color: #739cc5;
$primary-color-hover: #a7c6e4;
$secondary-color: #FB8355;
$secondary-color-hover: #fda27e;
$success-color: #085026;
$success-color-hover: #166e3b;
$success-color-alert: #0c6531;
$danger-color: #AB384C;
$danger-color-hover: #c65265;
$danger-color-alert: #a31d34;
$text-white-color: #eff3f7;
$text-dark-color: #2a3a4b;
$text-gray-color: #7a7e82;
$text-title-color : #178fcf;
$text-subtitle-color : #576573;
$border-line-color: #CECECE;
$border-line-color-focus: $primary-color;
$table-header-primary: #175694;
$table-body-primary: #e0f0ff;
$table-header-secondary: #8e4427;
$table-body-secondary: #f7e5de;
$table-header-dark: #404040;
$table-body-dark: #a9a9a9;
$table-header-light: #878787;
$table-body-light: #d7d7d7;
$table-body-white: #ffffff;