
$background-white:#ffffff;
$background-dark: #364555;
$background-soft: #dddddd;
$transparent:rgba(255, 255, 255, 0);
$transparent-hover:rgba(255, 255, 255, 0.363);
$primary-color: #739cc5;
$primary-color-hover: #a7c6e4;
$secondary-color: #FB8355;
$secondary-color-hover: #fda27e;
$success-color: #085026;
$success-color-hover: #166e3b;
$danger-color: #AB384C;
$danger-color-hover: #ca5468;
$text-white-color: #eff3f7;
$text-dark-color: #182533;
$text-gray-color: #364555;
$text-title-color : #178fcf;
$text-subtitle-color : #667380;
$border-line-color:#CECECE;
$border-line-color-focus: $primary-color;
